/*
*
*Styles 
*Developed by Dj45-Sys
*
*/

/*Imports*/

@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

/*Universal Styles*/

*{
    padding: 0;
}

body{
  background-image:url("Img/Background.jpg");
  background-size:100%;
  background-repeat:no-repeat;
  overflow:hidden;
}

/*Container Styles */

.principalogo{
  height:75px;
}

.container{
  text-align:center;
}
h1{
    color:#ffffff;
    font-family: 'Caveat Brush', cursive;
}
.logo:hover{
  opacity:.7;
}
.title{
  font-size:50px;
}
.subcontent{
  font-size:25px;
}
 
/*Grid*/

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  font-size: 30px;
  text-align: center;
  font-family: 'Caveat Brush', cursive;
}
/*Center Preload*/

.hidden{
  overflow:hidden;
}
.Center{
  background-color:#000;
  height: 100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

/*Links*/
a{
  color:white;
  text-decoration:none;
}
a:hover{
  opacity:.7;
}
a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
a:hover{
    background-size: 100% 2px;
}

/*Social Buttons*/

.social-buttons{
  text-align:center;
}
.social-buttons a{
  display: inline-flex;
  text-decoration: none;
  font-size: 18px;
  width: 60px;
  height: 60px;
  color: #fff;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 8px;
}

.social-buttons a:before{
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg,#22a6b3,#30336b);
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s ease-in;
}

.social-buttons a:hover::before{
  transform: scale(0);
}

.social-buttons a i{
  transition: 0.3s ease-in;
}

.social-buttons a:hover i{
  background: linear-gradient(45deg,#22a6b3,#30336b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(2.2);
}
/*Preload Animation */

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}